In [1]:
import numpy as np
import pandas as pd
import random

In [8]:
product = pd.DataFrame(list(range(5000, 9000, 1)),columns=['id']).reindex()
def product_name(id):
    return 'SKU' + str(id)


product_categories = [["Electronic", "Kitchen", "Books", "Clothing"], [.3, .25, .3, .15]]

def product_category(product_categories = product_categories):
    return np.random.choice(product_categories[0],p=product_categories[1])

def product_cost(category):
    if category == 'Electronic':
        return random.randint(50,100) + random.uniform(0, 1)
    elif category == 'Books' :
        return  random.randint(1,20) + random.uniform(0, 1)
    elif category == 'Kitchen' :
        return  random.randint(1,50) + random.uniform(0, 1)
    elif category == 'Clothing' :
        return  random.randint(5,55) + random.uniform(0, 1)
    else:
        return  random.randint(5,55) + random.uniform(0, 1)

sub_category = {
    
    'Electronic': ['Home Appliance','Laptop','Accessories','Mobile'],
    'Books': ['Action & Adventure', 'Biographies','Business and Economic','Science'],
    'Kitchen': ['Cookware','Cleaning Supplier','Home Decor'],
    'Clothing': ['Mens','Womens','kids']
}    

sub_category_probablity = {
       
    'Electronic': [0.3,0.3,0.2,0.2],
    'Books': [0.3,0.2,0.3,0.2],
    'Kitchen': [0.3,0.3,0.4],
    'Clothing': [0.3,0.3,0.4]
    
    
}


def category_name(category):
    if category == 'Electronic':
        return np.random.choice(sub_category['Electronic'], p=sub_category_probablity['Electronic'] )
    
    elif category == 'Books':
        return  np.random.choice(sub_category['Books'], p=sub_category_probablity['Books'] )

    elif category == 'Kitchen':
        return  np.random.choice(sub_category['Kitchen'], p=sub_category_probablity['Kitchen'] )
    
    else:
         return  np.random.choice(sub_category['Clothing'], p=sub_category_probablity['Clothing'] )
        
    
def product_price(prod_cost):
    return prod_cost *  random.uniform(2,3)

product['product_id'] = product.apply(lambda row: product_name(id=row['id']), axis =1 )
product['product_category'] = product.apply(lambda row: product_category(product_categories = product_categories), axis =1 )


product['product_subcategory'] = product.apply(lambda x: category_name (category= x['product_category']), axis =1 )

product['product_cost'] = product.apply(lambda x: product_cost(category= x['product_category']), axis = 1)
product['product_price'] = product.apply(lambda x: product_price(prod_cost= x['product_cost']), axis = 1)
product.drop(columns=['id'],inplace=True)
product

,product_id,product_category,product_subcategory,product_cost,product_price
0,SKU5000,Kitchen,Cleaning Supplier,26.700647,56.493003
1,SKU5001,Clothing,kids,34.607572,76.000359
2,SKU5002,Books,Biographies,14.049948,37.018299
3,SKU5003,Books,Science,10.273379,28.474732
4,SKU5004,Books,Business and Economic,9.631679,20.257134
...,...,...,...,...,...
3995,SKU8995,Kitchen,Cookware,40.290967,96.729681
3996,SKU8996,Books,Science,9.075116,21.312184
3997,SKU8997,Clothing,Womens,39.526102,102.654781
3998,SKU8998,Clothing,Mens,11.249031,32.218025
3999,SKU8999,Clothing,Mens,33.619783,70.069052